@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #001f24;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FF9933;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(91, 53, 1, 0.907) ;

}
h2{
    color:#A1C7E0;
}
body{
    background-image: linear-gradient(to right,#00ABBD,#0099DD);
}